@font-face {
    font-family: Brown;
    src: url(BrownStd-Light.otf);
}

body {
  font-family: Brown;
  background-color: #E2E2E2;
}

#container {
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.name {
  position: fixed;
  top: .1em;
  left: .25em;
}

.commission {
  position: fixed;
  top: .1em;
  right: .25em;
}

.personal {
  position: fixed;
  bottom: .1em;
  left: .25em;
}

.contact {
  position: fixed;
  bottom: .1em;
  right: .25em;
}

a, a:visited {
  font-size: 2em;
  color: black;
  text-decoration: none;
}
